
.todoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.todoList {
    width: max-content;
    height: max-content;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*text-align: center;*/
}

.todoList h1 {
    font-family: "Microsoft JhengHei Light";
    text-align: center;
    font-size: 72px;
    padding: 1px;
}

.inputFormik {
    width: 506px;
    height: 50px
}

.noActiveTodo {
    text-decoration: line-through;
    border: 1px solid black;
    padding: 2px 2px 2px 2px;
}

.activeTodo {
    text-decoration: none;
    border: 15px solid transparent;
    border: 1px solid black;
    padding: 2px 2px 2px 2px;
}

.noActiveTodo .decoration {
    text-decoration: line-through;
    opacity: 0.4;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    width: 500px;
    height: 30px;
}

.footerButtonAll {
    width: 30px;
    height: 20px;
}
.footerButtonActive {
    width: 50px;
    height: 20px;
}
.footerButtonCompleted {
    width: 80px;
    height: 20px;
}
.footerButtonClear {
    width: 75px;
    height: 35px;
}
